<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Im_Chat</title>
    <style>
        .history{
            border: 1px solid #f3e8eb;
            width: 500px;
            height: 200px;
            margin: 10px;
        }
        .input_box{
            margin: 10px;
        }
    </style>
</head>
<body>
    <div class="body">
        <div class="history">
            <div>

            </div>
        </div>
        <div class="input_box">
            <textarea id="msg_content">

            </textarea>
            <button id="send">发送</button>
        </div>
    </div>

</body>
</html>