<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Im_Chat</title>
    <style>
        .history{
            border: 1px solid #f3e8eb;
            width: 500px;
            height: 200px;
            margin: 10px;
        }
        .input_box{
            margin: 10px;
        }
    </style>

</head>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<body>
    <div class="body">
        <div class="history">
            <div>

            </div>
        </div>
        <div class="input_box">
            <textarea id="msg_content">

            </textarea>
            <button id="send">发送</button>
        </div>
    </div>

</body>

<script>
    var ws = new WebSocket("ws://140.143.196.73:9501");
    var my_client_id;
    ws.onopen = function(evt) {
        console.log("Connection open ...");
        //ws.send("Hello WebSockets!");
    };

    ws.onmessage = function(evt) {

        console.log(evt);
        let msg = JSON.parse(evt.data);
        if (msg.type == 'init') {
            my_client_id = msg.clientId;
        }
    };

    ws.onclose = function(evt) {

        console.log(evt);
    };

    $('#send').click(function(){
        let content = $('#msg_content').val();


        $.ajax({
            url: '/MsgHandler/sendMsg',
            method: 'POST',
            data: {
                client_id:my_client_id,
                msg: content
            },
            success: data => {
                console.log(data);
            }
        });
    });


</script>
</html>